<!DOCTYPE html>
<html ng-app="BeerAndChat">
<head>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/controllers/base.js"></script> 
    @RenderSection("topscripts", required: false)
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/Content/Site.css" rel="stylesheet" />
</head>
<body ng-controller="Base" ng-init="currentUser=@Json.Encode(Sesh.CurrentUser)">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="navbar-header col-md-4">
                    @Html.ActionLink("Beer & Chat", "Index", "Home", null, new { @class = "navbar-brand" })
                </div>
                <div class="col-md-5">
                    @if (Sesh.IsLoggedOn)
                    {
                        <span class="current-user">@Sesh.CurrentUser.username</span>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Beer & Code</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
